/Java/Mi app/nbproject/private/
/Java/Mi app/build/
/Java/EscuelaDigital/nbproject/private/
/Java/clase2Java/nbproject/private/
/Java/clase2Java/build/
/Java/clase3Java/nbproject/private/
/Java/clase3Java/build/
/Java/paginaWeb/target/
/Java/paginaPrueba2/target/
/Java/baseDeDatos/target/
/Java/Actividad Java/nbproject/private/
/Java/Actividad Java/build/
/Java/escuelaDigitalweb/target/
