/Java/Mi app/nbproject/private/
/Java/Mi app/build/
/Java/EscuelaDigital/nbproject/private/
/Java/clase2Java/nbproject/private/
/Java/clase2Java/build/
/Java/clase3Java/nbproject/private/
/Java/clase3Java/build/
