#navbar{
    background-color: rgb(53, 58, 64);
    height: 80px;
    
}

#navbar div div ul li a{
    color: rgb(143, 153, 155);
}
#navbar div a{
    color: rgb(255, 255, 255);
}

#ticket h7{
    color: rgb(48, 179, 87);
}
#navbar div div ul{
    margin-left: 30%;
}

#cabecera{
    background-image: url('../img/ba1.jpg');
    background-size: 100%;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#cabecera:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

.cards{
    position: relative;
    padding-bottom: 10%;
    padding-right: 7%;
    margin-left: 52%;
    margin-top: 23%;
}

#etiqueta{
    padding-left: 1.5%;
    padding-right: 1.5%;
}

#btn-enviar{
    background-color: rgb(150, 201, 62);
}

.boton{
    left: 5000px;
    padding-left: 6.5%;
    padding-right: 6.5%;
}
.ajusteTamaño{
    width: 728px;
}

#footer{
    background-color: rgb(27, 82, 113);
}

#footer div div ul{
    padding: 3px;
    
}
#footer div div ul li{
    margin-left: 25px;
    margin-right: 25px;
}
.compraticket{
    margin-top: 100px;

}

